{% extends 'pages\base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">About AI Writer</h1>
                <p class="lead">AI Writer :utilizes artificial intelligence to assist in the writing process. on a topics.creative writing. also be used to paraphrase, making optimization.  AI Write.</p>
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div class="card text-center">
                            <img src="https://i.imgur.com/96pT5dd.jpeg" alt="Team Member">
                            <h2>AI Writer auther</h2>
                            <p>L T</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</section>

{% endblock %}
